body {
  font-family: "Funnel Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: linear-gradient(135deg, #ffcad4, #f7e3e7);
  color: #333333;
  box-sizing: border-box;
}

.container {
  position: relative;
  transform-origin: top;
  width: 350px;
  max-width: 90%;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.heading h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 15px 0;
  color: #9d8189;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content h2 {
  font-size: 20px;
  margin: 15px 0 10px;
  color: #555555;
  font-weight: 600;
}

.content p {
  font-size: 16px;
  line-height: 1.7;
  color: #666666;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}
#result p {
  font-size: 20px;
}

#errorMessage {
  color: red;
}

#analyzeButton {
  font-size: 16px;
  color: #ffffff;
  background-color: #9d8189;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  padding: 12px 30px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#analyzeButton:hover {
  background-color: #7a6369;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#analyzeButton:active {
  background-color: #6a565b;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

#analyzeSM {
  font-size: 15px;
  color: white;
  background-color: #8ec1b4;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#analyzeSM:hover {
  background-color: #63a291;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(12, 6, 5, 0.3);
}

#analyzeSM:active {
  background-color: #224f43;
  box-shadow: 0 3px 6px rgba(17, 7, 4, 0.3);
}
