body {
  font-family: "Funnel Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #ffcad4, #f7e3e7);
  color: #333333;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

*:focus {
  outline: 2px blue;
}

#analyzeSM {
  font-size: 15px;
  color: white;
  background-color: #8ec1b4;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.switch-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-label {
  font-size: 18px;
  font-weight: 500;
  color: #4a4a4a;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 5px;
  padding: 5px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #74deab;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

.switch-label {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 300;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.container {
  position: relative;
  transform-origin: top;
  width: 90%;
  max-width: 350px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.heading h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 15px 0;
  color: #c0667f;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content h2 {
  font-size: 20px;
  margin: 15px 0 10px;
  color: #555555;
  font-weight: 600;
}

.content p {
  font-size: 16px;
  line-height: 1.7;
  color: #666666;
  margin-bottom: 15px;
  line-height: 2;
}

.hidden {
  display: none;
}

#result p {
  font-size: 15px;
}

#errorMessage {
  color: red;
}

#analyzeButton {
  font-size: 16px;
  color: #ffffff;
  background-color: #cf6d89;
  border: none;
  border-radius: 12px;
  margin-top: 10px;
  padding: 12px 30px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#analyzeButton:hover {
  background-color: #c9899b;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#analyzeButton:active {
  background-color: #6a565b;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 400px) {
  #analyzeSM {
    padding: 5px 8px;
    font-size: 12px;
    right: 10px;
    top: 10px;
  }

  .heading h1 {
    font-size: 30px;
  }

  .content h2 {
    font-size: 20px;
  }

  .content p {
    font-size: 15px;
  }
}
