body {
  font-family: "Funnel Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #ffcad4, #f7e3e7);
  color: #222222;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

*:focus {
  outline: 3px solid black;
  outline-offset: 2px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 25px;
  z-index: 1;
  cursor: pointer;
}

.checkbox-container .slider {
  position: relative;
  width: 50px;
  height: 25px;
  background-color: black;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.checkbox-container .slider:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  top: 2.5px;
  left: 2.5px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkbox-container input[type="checkbox"]:checked + .slider {
  background-color: #74deab;
}

.checkbox-container input[type="checkbox"]:checked + .slider:before {
  transform: translateX(25px);
}

.checkbox-container .checkbox-label {
  font-size: 18px;
  color: #4d2933;
  letter-spacing: 0.5px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.container {
  position: relative;
  transform-origin: top;
  width: 90%;
  max-width: 330px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  padding: 10px;
  background: white;
  backdrop-filter: blur(10px);
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.heading h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 15px 0;
  color: #c0667f;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content h2 {
  font-size: 20px;
  margin: 15px 0 10px;
  color: #555555;
  font-weight: 600;
}

.content p {
  font-size: 16px;
  line-height: 1.7;
  color: #666666;
  margin-bottom: 15px;
  line-height: 2;
}

.hidden {
  display: none;
}

#result p {
  font-size: 15px;
}

#errorMessage {
  color: red;
}

#analyzeButton {
  font-size: 16px;
  color: #ffffff;
  background-color: #bf4d6f;
  border: none;
  border-radius: 12px;
  margin-top: 10px;
  padding: 12px 30px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#analyzeButton:hover {
  background-color: #c23861;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#analyzeButton:active {
  background-color: #6a565b;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 400px) {
  #analyzeSM {
    padding: 5px 8px;
    font-size: 12px;
    right: 10px;
    top: 10px;
  }

  .heading h1 {
    font-size: 30px;
  }

  .content h2 {
    font-size: 20px;
  }

  .content p {
    font-size: 15px;
  }
}
